/********************************
Home Page
*********************************/
#user-role {
  color: #e53935;
}
.users-list {
  margin-top: 10px;
}
.del-pane {
  text-align: right;
  margin: 0;
  padding: 0;
}
.content {
  max-width: 660px;
}
