
/********************************
Home Page
*********************************/
#admin-role{
color:#43A047;
}
.users-list{
  margin-top:10px;
}
.del-pane{
  text-align:right;
  margin:0;
  padding:0;
}
.content{
  max-width: 660px;
}
